/*UTILITIES*/
html, body {
	height: 100%;
	margin: 0;
}
.page{position: absolute;}
#loader{position:fixed;min-height:100%;min-width:100%;background-color:rgba(0,0,0,255);text-align:center;margin:0;padding:0;overflow:hidden;z-index: 600;}
#loader img{margin-top:25%;opacity: 0.4;width: 20%;}
#main_bg > img{width: 100%;}