.home {
    background-color: yellow;
} 

html { 
	background: url(https://i.imgur.com/iWEnnPl.jpg) no-repeat center center fixed !important; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}